DB_URL=jdbc:mysql://localhost:3310/escala_shekinah?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Sao_Paulo
DB_USERNAME=escala_user
DB_PASSWORD=escala_pass
JWT_SECRET=change-this-secret-before-production
SERVER_PORT=8081
SERVER_ADDRESS=0.0.0.0
